body {
	background-color: yellow;
	position: relative;
}

#headertext {
	text-align: center;
}

#div-one-container {
	margin: auto;
}

#divone {
	background-color: skyblue;
	margin: auto;
}

#div-two-container {
	position: relative;
	margin-top: 10%;
}

#divtwo {
	background-color: greenyellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#div-three-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
}

#divthree {
	background-color: tomato;
}

.centereddivs {
	border: 5px solid black;
	height: 100px;
	width: 200px;
}

.div-text {
	font-size: 25px;
	text-align: center;
}
